button {
  background-color: transparent;
  border: 2px solid $primary-color;
  border-radius: 5px;
  color: $text-color;
  cursor: pointer;
  margin: 1vh;
  transition: all 0.3s ease-in;
  font-family: $font;
}

button:hover {
  border: 2px solid $hover-color;
  background-color: transparent;
  color: $hover-color;
}

.scroll {
  width: 2rem;
  height: 2rem;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: $primary-color;
}

:disabled {
  color: $primary-color;
  cursor: copy;
}

:disabled:hover {
  background-color: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
  cursor: no-drop;
}

.buy-ticket {
  padding: .5em;
}
