.cinemas {
  @include flex();
  flex-direction: column;

  .show-date,
  .no-cinemas  {
    margin: 2em 1em 0 0;
  }

  .show-date {
    border-bottom: 2px solid $primary-color;

    .places {
      @include flex();
    }

    .place-and-time {
      border: 1px solid $primary-color;
      border-radius: 15px;
      cursor: pointer;
      @include flex-center();
      flex-direction: column;
      margin: 1rem 0.5rem;
      padding: 1rem;
      width: 100px;
      transition: all 0.5s;

      .place {
        font-size: small;
        margin-bottom: 0.5rem;
      }

      .time {
        font-size: larger;
      }
    }

    .place-and-time:hover {
      border: 1px solid $hover-color;
    }

    h2 {
      color: $text-color;
      font-size: larger;
    }
  }
}
