#cities {
  background-color: transparent;
  border: 2px solid $primary-color;
  border-radius: 10px;
  color: $text-color;
  cursor: pointer;
  font-family: $font; 
  padding: 0 1em;

  option {
    background-color: $background-color;
    color: $text-color;
  }
}

#cities:focus {
  outline: none;
  border: 1px solid $hover-color;
}
