header {
  @include flex();
  background-color: $background-color;
  justify-content: space-between;
  margin-bottom: 3.5vh;
  padding: 1em;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;

  .logo {
    cursor: pointer;
  }

  .users-profile {
    @include flex-center();
    border: 2px solid $primary-color;
    border-radius: 10px;
    cursor: pointer;
    padding: .25em .4em;
    transition: all .5s ease-in-out;

    h6 {
      font-size: small;
    }
  }

  .users-profile:hover {
    color: $hover-color;
    border-color: $hover-color;
  }

  svg {
    margin: 0 .2em 0 0;
  }

  .usersProfile:hover {
    color: $hover-color;
  }

  .sign-out {
    padding: .25em .4em;
  }
}
