.notification {
  @include flex-center-column();
  position:fixed;
  top: 4em;
  left: 0;
  z-index: 2;
  margin: 0 0 .5em 0;
  cursor: pointer;
  animation: .7s show ease;
}

@keyframes show {
  from {
    left: -300px;
  }
  to { 
    left: 0;
   }
}

.incorrect-data {
  background-color: transparent;
}
