@font-face {
  font-family: 'Bitter';
  src: url(../font/Bitter-VariableFont_wght.ttf);
}

$font: "Bitter", Helvetica, serif;
$background-color: #000;
$primary-color: #6428cc;
$text-color:#fff;
$hover-color:#0ebeac;
$spacing: 1rem;
$dark-grey: #998;
